.right .cards {
    display: flex;
    gap: 10px;
    align-items: stretch;
    justify-content: space-between;
}
.right .cards .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #3c1f42;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.right .canvas-box {
    display: flex;
    flex-direction: row;
}
.right .canvas-box .canvas {
    width: 100%;
    max-width: 488px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
}
.right .canvas-box .canvas:first-child {
    margin-right: 10px;
}
.right .canvas-box .canvas:last-child {
    height: 330px;
    padding-left: 90px;
}