@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: rgba(165, 180, 252, 0.2);
}
::-webkit-scrollbar {
    width: 9px;
    background-color: #280031;
}
::-webkit-scrollbar-thumb {
    background-color: #f5d4fb;
    border-radius: 16px;
}
::-webkit-scrollbar-button {
    display:none;
}
.font-display {
    font-family: 'Titan One', sans-serif;
}